.App {
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: rgb(107, 71, 141);
}

.card-grid {
  margin: 2rem auto 0;
  background-color: rgb(51, 36, 65);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.22rem;
}

@media only screen and (max-width: 1300px) {
  .card-grid {
    margin: 1rem auto 0;
    padding: 0;
    background-color: transparent;
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }

  button {
    padding: 8px 16px;
    font-size: 1.2em;
    margin-bottom: 01rem;
  }
}

@media only screen and (max-width: 550px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
